<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect Trailing Slashes...
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} (.+)/$
  RewriteRule ^ %1 [L,R=301]

  # If the request is for a file that does not exist,
  # and there is no .html extension, rewrite it to add .html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !\.html$
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^ %{REQUEST_URI}.html [L]

  # Handle Frontend Routes - All requests not matching a file or directory
  # are forwarded to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>