:root {
  --base-color: #f38618;
}

.base-img {
  -webkit-filter: brightness(0) saturate(100%) invert(21%) sepia(75%) saturate(3149%) hue-rotate(37deg) brightness(95%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(21%) sepia(75%) saturate(3149%) hue-rotate(37deg) brightness(95%) contrast(101%);
}

.bottom-line {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='196' height='15' viewBox='0 0 196 15' fill='none'%3E %3Cpath d='M1 13C42.1844 2.92057 142.978 -3.87406 195 9.2668' stroke='%23f38618' stroke-width='4'/%3E %3C/svg%3E");
}