:root {
  --base-color: #ff0000;
}

.base-img {
  -webkit-filter: brightness(0) saturate(100%) invert(20%) sepia(87%) saturate(6919%) hue-rotate(356deg) brightness(93%) contrast(115%);
          filter: brightness(0) saturate(100%) invert(20%) sepia(87%) saturate(6919%) hue-rotate(356deg) brightness(93%) contrast(115%);
}

.bottom-line {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='196' height='15' viewBox='0 0 196 15' fill='none'%3E %3Cpath d='M1 13C42.1844 2.92057 142.978 -3.87406 195 9.2668' stroke='%23fed000' stroke-width='4'/%3E %3C/svg%3E");
}