/* ==== 
 --------- (5.01) partner section styles start ---------
 ==== */

.partner {
  padding: 80px 0px;
  background-color: #edeeef;
  .partner__slider-single {
    text-align: center;
  }
}

/* ==== 
 --------- (5.01) partner section styles end ---------
 ==== */
