/* ==== 
 --------- (5.06) team section styles start ---------
 ==== */
.team {
  padding: 100px 0px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .team__single {
    overflow: hidden;
    &:hover {
      .team__single-thumb {
        img {
          transform: scale(1.04);
        }
        &::before {
          visibility: visible;
          opacity: 1;
        }
      }
      .team__single-content {
        background-color: var(--secondary-color);
        h6 {
          color: var(--white);
        }

        p {
          color: var(--base-color);
        }
      }

      .team__single-content__icon {
        background-color: var(--base-color);
        color: var(--secondary-color);
        i {
          transform: rotate(45deg);
        }
      }

      .team__single__thumb-social {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateY(0px);
      }
    }
  }

  .team__single-thumb {
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 200px;
      height: 150px;

      border-radius: 278.326px;
      background: linear-gradient(180deg, #046a58 0%, #01725e 100%);
      filter: blur(50px);
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: var(--transition);
    }
    a {
      width: 100%;
      border-radius: 10px 10px 0px 0px;
      overflow: hidden;
    }

    img {
      width: 100%;
      border-radius: 10px 10px 0px 0px;
      transition: var(--transition);
      min-height: 260px;
    }
  }

  .team__single-content {
    padding: 30px 30px 24px;
    background-color: #f1f0ee;
    transition: var(--transition);
    border-radius: 0px 0px 10px 10px;
    h6 {
      margin-top: -8px;
      font-weight: 800;
      color: var(--secondary-color);
    }

    p {
      font-size: 14px;
      font-weight: 600;
      color: var(--secondary-color);
      transition: var(--transition);
    }
  }

  .team__single-content__icon {
    @include box(40px);
    background-color: var(--secondary-color);
    color: var(--white);
    z-index: 3;
    cursor: pointer;
    transition: var(--transition);

    i {
      font-size: 16px;
      transition: transform 0.3s ease-in-out;
    }
  }

  .team__icons {
    position: absolute;
    bottom: -20px;
    inset-inline-end: 20px;
  }

  .team__single__thumb-social {
    position: absolute;
    bottom: calc(100% + 12px);
    right: 0px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-20%);
    transition: var(--transition);
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }
    a {
      @include box(40px);
      background-color: var(--white);
      color: var(--secondary-color);
      font-size: 16px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      &:hover {
        background-color: var(--base-color);
        color: var(--secondary-color) !important;
      }
    }
  }

  .spade {
    position: absolute;
    top: 18%;
    inset-inline-end: 3%;
    z-index: -1;
    img {
      max-width: 5vw;
      min-width: 30px;
      animation: pulse 4s infinite ease-in-out;
    }
  }
}

.team-three {
  padding: 100px 0px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: var(--white);

  .team__single {
    padding: 12px;
    border-radius: 15px;
    border: 1px solid rgba(161, 159, 151, 0.22);
    transition: var(--transition);
    &:hover {
      border-color: var(--base-color);
      .team__single-thumb {
        &::before {
          background-color: var(--base-color);
        }
      }
    }
  }

  .team__single-thumb {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-inline-end: 74px;
    a {
      width: 100%;
      text-align: start;
      img {
        height: 350px;
        max-height: 350px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0px;
      width: 100%;
      height: 100%;
      background-color: var(--quaternary-color);
      clip-path: polygon(20% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 0%);
      border-radius: 15px;
      transition: var(--transition);
      z-index: -1;
    }
  }

  .team__content-wrapper {
    padding: 30px 12px 18px;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .team__single-content {
    h5 {
      margin-top: -4px;
      font-weight: 800;
      color: var(--secondary-color);
      &:hover {
        color: var(--quaternary-color);
      }
    }

    p {
      font-size: 14px;
      font-weight: 600;
      color: var(--quaternary-color);
    }
  }

  .team__single-content__icon {
    @include box(40px);
    background-color: var(--base-color);
    color: var(--black);
    z-index: 3;
    cursor: pointer;
    transition: var(--transition);

    i {
      font-size: 16px;
      transition: transform 0.3s ease-in-out;
    }
  }

  .team__single__thumb-social {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    inset-inline-end: 24px;
    z-index: 3;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }
    a {
      @include box(40px);
      color: var(--quaternary-color);
      border: 1px solid rgba(62, 81, 77, 0.12);
      font-size: 16px;
      &:hover {
        background-color: var(--quaternary-color);
        color: var(--white) !important;
      }
    }
  }

  .spade {
    position: absolute;
    top: 18%;
    inset-inline-end: 3%;
    z-index: -1;
    img {
      max-width: 5vw;
      min-width: 30px;
      animation: pulse 4s infinite ease-in-out;
    }
  }
}

// team details styles
.team-details {
  padding: 100px 0px;

  .team-details__thumb {
    border-radius: 24px;

    .parallax-image-wrap,
    .parallax-image-inner {
      border-radius: 24px;
    }
    img {
      width: 100%;
      min-height: 300px;
      border-radius: 24px;
    }
  }

  .team-details__meta {
    h4 {
      font-weight: 800;
      color: var(--black);
      margin-top: -8px;
    }

    .designation {
      font-weight: 500;
      font-size: 18px;
      color: #747474;
      margin-top: 4px;
    }
  }

  .social {
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 24px;
    a {
      @include box(48px);
      border: 1px solid #edefef;
      color: var(--quaternary-color);
      &:hover {
        background-color: var(--quaternary-color);
        color: var(--white);
      }
    }
  }

  .my-word {
    margin-top: 40px;
    margin-bottom: 24px;
    h5 {
      font-weight: 800;
      color: var(--black);
      margin-top: -8px;
    }
  }

  .cause__progress {
    margin-bottom: 14px;
    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
    p {
      font-weight: 700;
      color: var(--black);
      margin-bottom: 4px;
    }
  }

  .progress-bar {
    overflow: visible;
  }

  .progress-bar-percent {
    background-color: var(--quaternary-color);
  }

  .percent-value {
    position: absolute;
    bottom: calc(100% + 4px);
    inset-inline-end: 0px;
    color: var(--black);
    font-weight: 700;
  }

  .team-details__list {
    margin-top: 30px;
    ul {
      display: flex;
      align-items: center;
      gap: 16px;
      row-gap: 8px;
      flex-wrap: wrap;
      li {
        width: 100%;
        font-weight: 700;
        color: var(--black);
        display: flex;
        align-items: center;
        gap: 12px;
        i {
          color: var(--quaternary-color);
          &::before {
            font-weight: 700;
          }
        }
      }
    }
  }

  .btn--primary {
    padding: 22px 40px;
    border-radius: 60px;
    font-weight: 700;
    gap: 8px;
    &::before,
    &::after {
      border-radius: 0px;
    }
    i {
      transform: rotate(-45deg);
      transition: transform 0.5s ease, color 0s ease;
      font-size: 18px;
    }
    &:hover {
      i {
        transform: rotate(0deg);
      }
    }
  }

  .about-me {
    margin-top: 20px;
    h4 {
      font-weight: 800;
      color: var(--black);
      margin-top: -8px;
      margin-bottom: 18px;
    }

    p {
      color: #747474;
      font-size: 18px;
    }
  }
}
/* ==== 
 --------- (5.06) team section styles end ---------
 ==== */
